# Dependency directories
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
error.md